# IDEs
.idea/
*.iml

# Local Properties
**/application-local.properties

# System files
.DS_Store
Thumbs.db

# Build & Runtime (Java)
target/
**/target/
.mvn/wrapper/maven-wrapper.jar
node_modules/
.next/
out/
build/

# Build & Runtime (Node/Next.js)
node_modules/
.next/
out/
build/
*.log